# Node / Angular
node_modules/
dist/
.angular/
*.log

# Laravel
/vendor/
/.env
.env.*
/storage/*.key
/storage/logs
/storage/framework
/public/storage
/public/build
/public/hot

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db