# =========================
# 🔵 ANGULAR / NODE
# =========================
node_modules/
dist/
.angular/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# 🟣 LARAVEL / PHP
# =========================
/vendor/
/.env
.env.*
/storage/*.key
/storage/logs
/storage/framework
/public/storage
/public/build
/public/hot

# =========================
# ⚙ CONFIG / IDE
# =========================
.vscode/
.idea/
.fleet/
.zed/
.phpactor.json
.phpunit.result.cache
.phpunit.cache

# =========================
# 🧠 SISTEMA OPERATIVO
# =========================
.DS_Store
Thumbs.db

# =========================
# 🔐 OTROS
# =========================
auth.json
Homestead.json
Homestead.yaml