<header> 
  
  <img src="assets/logo.png" class="logo">

  <div class="title">
    <h1>FILTROPARTS</h1>
    <p>Cursos de Mecánica</p>
  </div>

  <nav>
    <ul>
      <li><a routerLink="/">Login</a></li>
      <li><a routerLink="/home">Inicio</a></li>
      <li><a routerLink="/planes">Planes</a></li>
    </ul>
  </nav>
</header>

<div class="container">

  <div class="images">
    <img src="assets/filtros.jpg">
    <img src="assets/mec.jpg">
    
  </div>
  
  <div class="login-box">

    <h2>{{ modoRegistro ? 'Crear Cuenta' : 'Iniciar Sesión' }}</h2>

    <div class="field">
      <span class="icon">@</span>
      <input 
        [(ngModel)]="email" 
        type="email"
        placeholder="Correo"
      >
    </div>

    <div class="field">
      <span class="icon">🔒</span>
      <input 
        [(ngModel)]="password" 
        type="password" 
        placeholder="Contraseña"
      >
    </div>

    <button *ngIf="!modoRegistro" (click)="login()">Ingresar</button>
    <button *ngIf="modoRegistro" (click)="register()">Crear Cuenta</button>

    <p class="extra" (click)="toggleModo()">
      {{ modoRegistro ? '¿Ya tienes cuenta? Inicia sesión' : '¿No tienes cuenta? Crear una' }}
    </p>

  </div>

</div>