<link rel="stylesheet" href="login.css" />

<header>

  <div class="header-left">

    <img src="assets/logo.png" class="logo">

    <div class="title">

      <h1>EDUFLOW</h1>

      <p>CURSOS DE PROGRAMACIÓN</p>

      <div class="mensaje-header">
        En EduFlow no solo aprendes a programar… aprendes a pensar, crear y construir tu propio futuro.
        Cada línea de código es un paso más hacia tus metas. 🚀
      </div>

    </div>

  </div>

  <nav>
    <ul>
      <li>
        <a routerLink="/">Login</a>
      </li>
    </ul>
  </nav>

</header>

<div class="container">

  <div class="left-side">

    <div class="images-row">

      <img src="assets/Angular.jfif">
      <img src="assets/Custom Website.jfif">
      <img src="assets/Data.jfif">
      <img src="assets/Python.jfif">

    </div>

    <div class="main-image">
      <img src="assets/icon.jfif" alt="Imagen principal">
    </div>

  </div>

  <div class="right-side">

    <div class="login-box">

      <h2>{{ modoRegistro ? 'Crear Cuenta' : 'Iniciar Sesión' }}</h2>

      <div class="field">
        <input [(ngModel)]="email" type="email" placeholder=" " required>
        <label>Correo electrónico</label>
      </div>

      <div class="field">
        <input [(ngModel)]="password" type="password" placeholder=" " required>
        <label>Contraseña</label>
      </div>

      <button *ngIf="!modoRegistro" (click)="login()">
        Ingresar
      </button>

      <button *ngIf="modoRegistro" (click)="register()">
        Crear Cuenta
      </button>

      <div class="social-login">

        <div class="divider">
          <span></span>
          <p>Otras opciones de inicio de sesión</p>
          <span></span>
        </div>

        <div class="social-buttons">
          <button class="social-btn google" type="button">G</button>
          <button class="social-btn facebook" type="button">f</button>
          <button class="social-btn apple" type="button"></button>
        </div>

      </div>

      <p class="extra" (click)="toggleModo()">
        {{ modoRegistro ? '¿Ya tienes cuenta? Inicia sesión' : '¿No tienes cuenta? Crear una' }}
      </p>

    </div>

  </div>

</div>

