:root {
  --primary-color: #ffffff;
  --secondary-color: #102437;
  --accent: #ffeba7;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #102437, #1a1a2e);
  color: var(--primary-color);
}

/* HEADER */
header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1rem 2rem;
   background: var(--primary-color);
   color: var(--secondary-color);
   box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.title {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 120px;
}

nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: #459092;
}

.extra {
  margin-top: 10px;
  font-size: 0.8em;
  color: #ccc;
  cursor: pointer;
}

.extra:hover {
  color: var(--accent);
}

/* CONTENEDOR */
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
}

/* IMÁGENES */
.images img {
  width: 220px;
  margin: 10px;
  border-radius: 12px;
  transition: transform 0.3s;
}

.images img:hover {
  transform: scale(1.05);
}

/* LOGIN BOX PRO */
.login-box {
  background: #2a2b38;
  color: white;
  padding: 2rem;
  border-radius: 12px;
  width: 260px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

/* INPUTS */
.field {
  background: #1f2029;
  border-radius: 6px;
  margin: 12px 0;
  padding: 10px;
}

.field input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  color: white;
}

/* BOTÓN */
.login-box button {
  width: 100%;
  padding: 10px;
  background: var(--accent);
  color: #459092;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 10px;
  transition: 0.3s;
}

.login-box button:hover {
  background: #102437;
  color: var(--accent);
}
/* ICONOS */
.icon {
  color: var(--accent);
  margin-right: 10px;

}


/* TEXTO EXTRA */
.extra {
  margin-top: 10px;
  font-size: 0.8em;
  color: #ccc;
}