<div class="reportes">

  <h1>📊 Reportes</h1>

  <h2>💰 Ingresos</h2>

  <div *ngIf="!ingresos?.length">
    No hay datos
  </div>

  <div *ngFor="let i of ingresos" class="card">
    <p>Plan: {{ i.plan }}</p>
    <p>Usuarios: {{ i.total }}</p>
    <p>Ingresos: ${{ i.ingresos }}</p>
  </div>

  <h2>🔥 Cursos</h2>

  <div *ngIf="!cursos?.length">
    No hay datos
  </div>

  <div *ngFor="let c of cursos" class="card">
    <p>{{ c.accion }}</p>
    <p>Total: {{ c.total }}</p>
  </div>

  <h2>👥 Usuarios</h2>

  <div class="card">
    <p>Activos: {{ usuarios?.activos }}</p>
    <p>Inactivos: {{ usuarios?.inactivos }}</p>
  </div>

</div>